/* Reset CSS */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;} ol, ul {list-style: none;}blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
h1{
    font-size: 35px;
    color: var(--text_color);
}
nav{
    height: 8rem;
    background-color: var(--second_clr);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;

}
body{
    background-color: var(--bg_color);
}

:root {
    --main_clr: #e6e9f9;
    --main_clr2: #d4d6e6;
    --second_clr: #949ee2;
    --second_clr2: #606799;
    --brand_clr: #99c699;
    --cta_clr: #b897d0;
    --text_color: #2c2c2c;
    --text_color2: #ececec;
    --bg_color: #9a9a9a;
    
  }
  .btn_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button{
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    margin: 1rem;
    font-size: 15px;
    font-weight: 600;

}
.btn_container button{
    background-color: var(--brand_clr);
}
  .btn_container button:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: var(--cta_clr);

  }
  input{
    height: 4rem;
    width: 25rem;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
  
  }
  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background-color: var(--main_clr2);
    font-size: 25px;
    margin: 0.8rem;
    height: 3rem;
    border-radius: 8px;
   transition: 0.5s;
   box-shadow: 1px 10px 12px -4px rgba(0,0,0,0.57);
   -webkit-box-shadow: 1px 10px 12px -4px rgba(0,0,0,0.57);
   -moz-box-shadow: 1px 10px 12px -4px rgba(0,0,0,0.57);
   border: 4px solid  var(--second_clr);
  }
  li:hover{
    scale: 1.05;
  }
  span{
    cursor: pointer;
    border: 1px solid var(--main_clr);

  }
  .delete{
    transition: 0.3s;
 
  }
  .delete:hover{
    color: red;
  }
  .edit{
    transition: 0.3s;
  }
  .edit:hover{
    color: var(--brand_clr);
  }